<!--
      <div class="ui equal width grid">
        <div class="row">
          <div class="ui buttons large">
            <button class="ui button compact disabled">1</button>
            <button class="ui button compact disabled">2</button>
            <button class="ui button compact disabled">3</button>
            <button class="ui button compact disabled">4</button>
            <button class="ui button compact disabled">5</button>
            <button class="ui button compact disabled">6</button>
            <button class="ui button compact disabled">7</button>
          </div>
        </div>
-->


<div class="row">
  <div class="ui buttons large">
    <button class="ui button compact disabled">
      a
      <br><small>(1)</small>
    </button>
    <button class="ui button compact green">
      +/1
      <br><small>(2)</small>
    </button>
    <button class="ui button compact disabled">
      b
      <br><small>(3)</small>
    </button>
    <button class="ui button compact red">
      +
      <br><small>(4)</small>
    </button>
    <button class="ui button compact disabled">
      c
      <br><small>(5)</small>
    </button>
    <button class="ui button compact loading">
      *
      <br><small>(6)</small>
    </button>
    <button class="ui button compact disabled">
      d
      <br><small>(7)</small>
    </button>
  </div>
</div>

<!--      </div>-->

<!--
<div class="row">
  <table class="ui table collapsing">
    <tbody>
      <tr class="center aligned">
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
      </tr>
      <tr class="center aligned">
        <td><button class="ui button compact disabled">a</button></td>
        <td><button class="ui button compact green">+/1</button></td>
        <td><button class="ui button compact disabled">b</button></td>
        <td><button class="ui button compact red">+</button></td>
        <td><button class="ui button compact disabled">c</button></td>
        <td><button class="ui button compact disabled">d</button></td>
      </tr>
    </tbody>
  </table>
</div>
-->





<!-- variant 1 -->
<div class="ui divided selection list">
  <a class="item">
    <!--        <div class="ui red horizontal label">Fruit</div>-->
    Operator * on pos 6 should be evaluated before operator + on pos 4...
  </a>
  <a class="item">
    <!--        <div class="ui purple horizontal label">Candy</div>-->
    Operator + on pos 2 should be evaluated before operator + on pos 4...
  </a>
</div>

<!-- variant 2
<div>
  <div class="ui message">
    <p>Operator * on pos 6 should be evaluated before operator + on pos 4...</p>
  </div>
  <div class="ui message">
    <p>Operator + on pos 2 should be evaluated before operator + on pos 4...</p>
  </div>
</div>
-->
