<div class="ui stackable menu">
  <div class="header item">
    <%= link_to 'How It Works', root_path %>
  </div>

  <div class="right menu">
    <div class="item">
      <%= claim_task_button %>
      <%= user_session_button %>
      <%= language_switcher %>
    </div>
<!--    <a class="item"><%#= t('sign_in') %></a>-->
  </div>
</div>
