<%= render partial: 'algorithms/common/student_task_description',
           locals: { task_lang: task_lang } %>

<%= render partial: 'algorithms/common/errors', locals: { data: data } %>

<div class="ui stackable equal width grid">

  <div class="column">
    <%= render partial: 'algorithms/common/algorithm_text_field',
               locals: {
                 data: data,
                 task_lang: task_lang
               }
    %>
  </div>

  <% unless hide_trace %>
    <div class="six wide column">
      <%= render partial: 'algorithms/common/trace_field', locals: { data: data } %>
    </div>
  <% end %>

  <div class="column">
    <div id="diagram_area" style="min-height: 200px;">
      <!-- canvas viewport -->
    </div>
  </div>

</div>

