<% # TODO deprecated? %>
<div class="field">
  <label><%= t('algorithms.index.algorithm').html_safe %></label>

  <!--      <div class="ui segment" style="padding-top: 40px;">-->
  <!--        <div class="ui top left attached label">Algorithm (<a href="#">Quick syntax guide</a>)</div>-->
  <style>
      .CodeMirror {
          height: auto;
      }
  </style>
  <textarea id="alg"></textarea>
  <!--      </div>-->
</div>
