<div class="ui stackable menu">
  <div class="header item">
    <%= link_to 'How It Works', '/' %>
  </div>

	<!-- Хардкод ссылки! -->
  <div class="header item">
  	<img src="/static/diag-thumb-white.png">
    <u><%= link_to 'Open<br>Diagram<br>Demo'.html_safe, '/en/algorithms/tasks/beta/bd51df206deb86779699461bb4122822' %></u>
  </div>

  <div class="right menu">
    <div class="item">
      <%= language_switcher %>
    </div>
<!--    <a class="item"><%#= t('sign_in') %></a>-->
  </div>
</div>
