<!-- success modal -->
<div class="ui success tiny modal">
  <i class="close icon"></i>
  <div class="header">
    <%= t('algorithms.success_modal.header') %>
  </div>
  <div class="scrolling content">
    <div class="description">
      <p><%= t('algorithms.success_modal.description') %></p>
    </div>
  </div>
  <div class="actions">
    <div class="ui positive deny button">
      <%= t('algorithms.success_modal.ok') %>
    </div>
  </div>
</div>
