<!-- TODO -->
<% trace_json = (data[:full_trace_json] || data[:trace_json]) %>
<% if trace_json.present? %>
  <div class="field">
    <label><%= t('algorithms.index.trace') %></label>
    <table class="ui very compact small selectable celled unstackable definition table">
      <tbody id="trace_rows"
             class="trace_rows"
      >
      <% trace_json.each do |elem| %>
        <tr class="trace_row">
          <td>
            <% if elem[:is_valid] == false %>
              <div class="ui red horizontal label">
                <i class="exclamation triangle icon"
                   style="margin: 0;"></i>
              </div>
            <% end %>

            <%= elem[:as_html].html_safe %>

            <% if elem[:is_valid] == false %>
              <div class="ui negative message">
                <div class="header">
                  <%= t('algorithms.index.act_has_mistakes') %>
                </div>
                <ul class="list">
                  <% elem[:explanations].each do |message| %>
                    <li><%= message.html_safe %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <% if elem[:is_final] %>
              <input type="hidden" id="is_final">
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
