<% title "#{t('index.title')} | #{t('maintence.not_available')}" %>

<%= render partial: 'application/index/header' %>

<div class="ui message">
  <div class="header">
    <%= t('maintence.not_available') %>
  </div>
  <p><%= t('maintence.hope_for_best') %></p>
</div>

<%= render partial: 'common/footer' %>
