<% title "#{t('index.title')} | #{t('publications')}" %>

<%= render partial: 'application/index/header' %>

<h2><%= t('publications') %></h2>
<div class="ui bulleted animated list">
  <div class="item">
    Oleg A. Sychev, Mikhail E. Denisov, and Grigory V. Terekhov. 2021. How it Works: Algorithms-A Tool for Developing an Understanding of Control Structures. Annual Conference on Innovation and Technology in Computer Science Education, ITiCSE, 621–622. https://doi.org/10.1145/3456565.3460032
  </div>
</div>

<%= render partial: 'common/footer' %>
